@model PetGrooming.Models.Pet

@{
    ViewBag.Title = "Show";
}

<h2>Show Pet</h2>
<a href="/Pet/List">Back to list</a>
<br />
<input type="button" onclick="window.location.href='/Pet/Update/@Model.PetID';" value="Edit">
<input type="button" onclick="window.location.href='/Pet/Delete/@Model.PetID';" value="Remove">
<br />
<div> @Model.PetName</div>
<span> @Model.Color</span>
<span> @Model.Weight kg</span>
<span> @Model.Species.Name</span>
<span> @Model.Notes</span>
<!-- <span>Model.Owner</span> -->
<!-- <span>Model.Groomer</span> -->
<!-- <div>Model.GroomService</div> -->
