@model PetGrooming.Models.ViewModels.UpdatePet  /*means this page needs the spacies data */
@{
    ViewBag.Title = "Update";
}

    <h2>Edit @Model.pet.PetName</h2>

<form method="POST" action="/Pet/Update/@Model.pet.PetID">
    <div>
        <label for="PetName">Pet Name: </label>
        <input id="PetName" type="text" name="PetName" value="@Model.pet.PetName" />
    </div>
    <div>
        <label for="SpeciesID">Species:</label>
        <select type="text" id="SpeciesID" name="SpeciesID">
            @{
                //A rendering loop for presenting a list of species
                //The pet should be one of these species
                foreach (var species in Model.species)
                {
                    if (@species.SpeciesID == Model.pet.SpeciesID)
                    {
                        <option value="@species.SpeciesID" selected>@species.Name</option>
                    }
                    else
                    {
                        <option value="@species.SpeciesID">@species.Name</option>
                    }
                }
            }
        </select>
    </div>
    <div>
        <label for="PetWeight">Weight:</label>
        <input id="PetWeight" type="text" name="PetWeight" value=@Model.pet.Weight />
    </div>
    <div>
        <span>Color: </span>
        <input id="PetColor" type="text" name="PetColor" value="@Model.pet.Color" />
    </div>
    <div>
        <label for="PetNotes">Notes:</label>
        <textarea id="PetNotes" name="PetNotes">
            @Model.pet.Notes
        </textarea>
    </div>
    <input type="submit" value="Update Pet">
</form>
