@model PetGrooming.Models.ViewModels.UpdatePet  /*means this page needs the spacies data */
@{
    ViewBag.Title = "Update";
}

<h2>Update a Pet</h2>

<form method="POST" action="/Pet/Update/@Model.pet.PetID">
    <!-- TODO: format this nicely -->
    <div><span>Pet Name: @Model.pet.PetName</span><input id="PetName" type="text" name="PetName" /></div>
    <div>
        <span>Species:</span>
        <select id="SpeciesID" type="text" name="SpeciesID">
            @{
                //A rendering loop for presenting a list of species
                //The pet should be one of these species
                foreach (var species in @Model)
                {
                    <option value="@species.SpeciesID">@species.SpeciesName</option>

                }
            }
        </select>
    </div>
    <div><span>Weight: @Model.pet.Weight</span><input id="PetWeight" type="text" name="PetWeight" /></div>
    <div><span>Color: @Model.pet.Color</span><input id="PetColor" type="text" name="PetColor" /></div>
    <div>Notes:</div>
    <textarea id="PetNotes" name="PetNotes">
        @PetNotes
    </textarea>
    <input type="submit" value="Update Pet">
</form>
